{% load static %}
{% load cart_extras %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart - Redstore</title>
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Header -->
    <div class="header">
        <div class="container">
            <div class="welcome-group">
                <p class="welcome-text">
                    Hello
                    {% if user.is_authenticated %}
                        {% if user.get_full_name %}
                            {{ user.get_full_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    {% else %}
                        Guest
                    {% endif %}
                </p>
                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="signoutbtn" >Sign Out</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="signoutbtn">Sign In</a>
                {% endif %}
            </div>
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'web/images/logo.png' %}" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="{% url 'products_men' %}" class="btn">Men</a></li>
                        <li><a href="{% url 'products_women' %}" class="btn">Women</a></li>
                        <li><a href="{% url 'products' %}" class="btn">All</a></li>
                        <li><a href="{% url 'aboutus' %}" class="btn">About Us</a></li>
                    </ul>
                </nav>
                <form class="search-bar" method="get" action="{% url 'search_products' %}">
                    <input type="text" name="q" placeholder="Search for products..." value="{{ search_query|default:'' }}">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </form>
                <a href="{% url 'cart' %}" class="btn" id="cart-btn"><img src="{% static 'web/images/cart.png' %}" width="30px" height="30px"></a>
                <img src="{% static 'web/images/menu.png' %}" class="menu-icon" onClick="menutoggle()">
            </div>
        </div>
    </div>

    <!-- Cart Items Details -->
    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>
                    <div class="cart-info", style="text-align: left;">
                        <img src="{{ item.product.get_image }}" alt="{{ item.product.shoe_name }}">
                        <div>
                            <p>{{ item.product.shoe_name }}</p>
                            <small>Price: {{ item.product.original_price|intcomma }} VNĐ</small><br>
                            <a href="{% url 'remove_from_cart' sku=item.product.sku %}">Remove</a>
                        </div>
                    </div>
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.quantity|multiply:item.product.original_price|intcomma }} VNĐ</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Your cart is empty.</td>
            </tr>
            {% endfor %}
        </table>

        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>
                        {{ items|calc_subtotal|intcomma }} VNĐ
                    </td>
                </tr>
                <!-- Add tax and total if needed -->
            </table>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-row">
                <img src= "{% static 'web/images/logo.png' %}" alt="Logo" class="footer-logo">

                <ul class="footer-social">
                    <a href="https://www.facebook.com/">
                        <li><strong>Facebook</strong></li>
                    </a>
                    <a href="https://www.instagram.com/">
                        <li><strong>Instagram</strong></li>
                    </a>
                    <a href="https://x.com/">
                        <li><strong>X</strong></li>
                    </a>
                    <a href="https://www.youtube.com/">
                        <li><strong>Youtube</strong></li>
                    </a>
                </ul>
            </div>
            <hr>
            <p class="copyright">Capstone Project Intro to Software - IT3180E</p>
        </div>
    </div>

    <script>
        var menuItems = document.getElementById("MenuItems");
        menuItems.style.maxHeight = "0px";
        function menutoggle(){
            if(menuItems.style.maxHeight == "0px"){
                menuItems.style.maxHeight = "200px";
            }
            else{
                menuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>
</html>